*{
    margin: 0;
    padding: 0;
}
body {
justify-content: center;
align-items: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 0px;
}
.cover{
    background-image:url(images/pexels-photo.jpg);
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}