*{
    margin: 0;
    padding: 0;
}
body {
background-image:url("../Images/afrika.jpg");
background-position: center center;
background-repeat: no-repeat;
height: 100vh;
background-size: cover;
}

h1{
    font-family:Frutiger W01;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    font-display: center;
}

p{
    font-family:'Catamaran', sans-serif;
    font-weight:inherit;
    font-size: 25px;
    
}

.container{
     display: inline-table;
     float:left;
    font-size: 24px;
    font-family:'Catamaran', sans-serif;
    line-height:24px;
}

